<!-- index.html -->
{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>${{ stock.price }}</td>
                    <td>${{ stock.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Cash: ${{ cash }}</h2>
    <h2>Total: ${{ total }}</h2>
{% endblock %}
